body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
}

header {
  background-color: #127bc0;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.skills-flex {
  display: flex;
}

.skills-flex ul {
  flex: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #2a75bb;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin: 20px auto;
  width: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table, th, td {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
}

.right {
  float: right;
}

.left{
  float: left
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #555;
}

@media (max-width: 600px) {
  nav li {
    display: block;
    margin: 8px 0;
  }
}
